@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");

html,
body {
  font-family: "Inconsolata", monospace;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
